################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite-journal
/.vs/BetterBuiltWorkouts/v16/TestStore/0/000.testlog
/.vs/BetterBuiltWorkouts/v16/TestStore/0/testlog.manifest
/.vs/slnx.sqlite
