/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/* Navbar container */
/*.navbar {
    overflow: hidden;
    background-color: #fff;
    font-family: Arial;
}*/

/* Links inside the navbar */
    /*.navbar a {
        float: right;
        font-size: 16px;
        color: #343a40;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }*/
    /* Links inside the navbar */
    /*.navbar button {
        font-size: 16px;
        color: #343a40;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }*/

/* The dropdown container */
/*.dropdown {
    float: left;
    overflow: hidden;
}*/

    /* Dropdown button */
    /*.dropdown .dropbtn {
        font-size: 16px;
        border: none;
        outline: none;
        color: #343a40;
        padding: 14px 16px;
        background-color: inherit;
        font-family: inherit;*/ /* Important for vertical align on mobile phones */
        /*margin: 0;*/ /* Important for vertical align on mobile phones */
    /*}*/

    /* Add a red background color to navbar links on hover */
    /*.navbar a:hover, .dropdown:hover .dropbtn {
        background-color: #fff;
    }*/

/* Dropdown content (hidden by default) */
/*.dropdown-content {
    display: none;
    position: fixed;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}*/

    /* Links inside the dropdown */
    /*.dropdown-content a {
        float: none;
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }*/

        /* Add a grey background color to dropdown links on hover */
        /*.dropdown-content a:hover {
            background-color: #ddd;
        }*/

/* Show the dropdown menu on hover */
/*.dropdown:hover .dropdown-content {
    display: block;
}*/