@model ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

<h1>Change Password</h1>
<br />
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<form method="post" asp-action="ChangePassword" asp-controller="Account">
    <div class="form-group row">
        <div class="col-sm-2"><label>Username:</label></div>
        <div class="col-sm-4">
            <div class="form-control">@User.Identity.Name</div>
            <input type="hidden" name="Username" value="@User.Identity.Name" />
        </div>
    </div>



    <div class="form-group row">
        <div class="col-sm-2"><label>Old Password:</label></div>
        <div class="col-sm-4">
            <input asp-for="OldPassword" class="form-control" />
        </div>
        <div class="col">
            <span asp-validation-for="OldPassword" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2"><label>New Password:</label></div>
        <div class="col-sm-4">
            <input asp-for="NewPassword" class="form-control" />
        </div>
        <div class="col">
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2"><label>Confirm Password:</label></div>
        <div class="col-sm-4">
            <input asp-for="NewPasswordConfirm" class="form-control" />
        </div>
        <div class="col">
            <span asp-validation-for="NewPasswordConfirm" class="text-danger"></span>
        </div>
    </div>

    <div class="row">
        <div class="offset-2 col-sm-4">
            <button type="submit" class="btn btn-primary">Change Password</button>
        </div>
    </div>

</form>
