@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}
<div class="container text-left bg-secondary">

<h1 class="text-danger">...OOPS</h1>
<h3 class="text-danger">We seem to have run into an error. Sorry about that :(</h3>
<p>Please check back later. Hopefully we'll have things all fixed up. '</p>



</div>
@if (Model.ShowRequestId)
{
    <p>
        <strong class="text-white">Request ID:</strong> <code class="text-white">@Model.RequestId</code>
    </p>
}