<div class="jumbotron text-center">
    <h1>Congratulations @TempData["User"]!</h1> 
    <p>You just finished the @TempData["Plan"] plan for today.</p>
</div>

<div class="bg-secondary text-white text-center">
    <h2 class="p-5">Todays completion time was: @TempData["Time"]</h2>
</div>