<div class="jumbotron">Congratulations @TempData["User"]! </div>

<div class="bg-secondary text-white">
    <h1>You just finished your @TempData["Plan"] plan for today.</h1>
    <div>Todays completion time was: @TempData["Time"]</div>
</div>