@model PlanListViewModel
@{
    ViewData["Title"] = "Workout Time";
}

<div class="row bg-secondary rounded">
    <h1 class="col-sm-9 offset-sm-3 mt-5 mb-5">Pick the plan you want to do today.</h1>
    <div class="col-sm-9 offset-sm-3">
        <div class="list-inline">
            @foreach (Plan userPlan in Model.Plans)
            {
                <div class="item-link m-3">

                    <a asp-action="Workout" asp-route-id="@userPlan.PlanId">
                        <div style="{display: flex, flex-direction: column}">


                            @userPlan.Name
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
</div>