@model PlanListViewModel
@{
    ViewData["Title"] = "Workout Time";
}

<div class="container form-container">
    <h1>Pick the plan you want to do today.</h1>
    <div class="col-sm-9">
        <div class="list-inline">
            @foreach (Plan userPlan in Model.Plans)
            {
                <div class="item-link">

                    <a asp-action="Workout" asp-route-id="@userPlan.PlanId">
                        <div style="{display: flex, flex-direction: column}">
                            <div>
                                <img src="~/images/@userPlan.Image"
                                 width=150
                                 height=150
                                 alt="@userPlan.Name"
                                 title="@userPlan.Name"
                                 class="img-responsive img-fluid rounded-circle" />
                            </div>
                            <div class="text-center text-wrap">@userPlan.Name</div>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
</div>