@model PlanListViewModel
@{
    ViewData["Title"] = "View Workout Plans";
}
<h1><a asp-action="CreatePlan" class="btn btn-success">Add a new Plan</a></h1>
<div class="row">

    <div class="col-sm-9">
        <div class="container form-container">
            <h1> Build Your Plan</h1>
            <div class="list-inline">
                @foreach (Plan userPlan in Model.Plans)
                {
                    <div class="item-link">

                        <a asp-action="PlanDetails" asp-route-id="@userPlan.PlanId">
                            <div style="{display: flex, flex-direction: column}">
                            <div>
                                <img src="~/images/@userPlan.Image"
                                 width=150
                                 height=150
                                 alt="@userPlan.Name"
                                 title="@userPlan.Name"
                                 class="img-responsive img-fluid rounded-circle"
                                 />
                            </div>
                            <div class="text-center text-wrap">@userPlan.Name</div>
                                
                            </div>
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
