@model ExerciseListViewModel

<div class="list-inline">
    @foreach (Exercise exercise in Model.Exercises)
    {
        <div class="item-link">

            <a asp-action="Details" asp-route-id="@exercise.ExerciseId">

                <div class="text-primary">

                    <img src="~/images/@exercise.Image"
                         width=60
                         alt="@exercise.Name"
                         title="@exercise.Name" />

                    @exercise.Name
                </div>
            </a>
        </div>
    }
</div>

